

<% include partials/header %>
<div class="campdet">


<div class="row">


  <div class="col-sm-4">
 <div id="googleMap" style="width:200px;height:400px;"></div>
  <script>
  var loc= "<%= camp.address %>";

var geocoder = new google.maps.Geocoder();

geocoder.geocode( { 'address': loc}, function(results, status) {
  if (status == google.maps.GeocoderStatus.OK)
  {
      var mapProp= {
  center:new google.maps.LatLng(results[0].geometry.location.lat(),results[0].geometry.location.lng()),
  zoom:18,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var pos = {lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()};
var marker = new google.maps.Marker({position: pos, map: map});
  }
});
</script>
  </div>


  <div class="col-sm-8">
<div class="card" style="width: 40rem;">
  <img class="card-img-top" src="<%=camp.image%>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=camp.name%></h5>
    <p class="card-text"><%=camp.description%></p>
    <div class="btn-toolbar" role="group" aria-label="Basic example">
      <div class="btn-group mr-2" role="group" aria-label="First group">
    <form action="/campgrounds/<%=camp._id%>/comments" method=GET>
      <button class="btn btn-primary" type="submit">Add Comment </button>
    </form>
    </div>




<%  if(us === camp.user){ %>
  <div class="btn-group mr-2" role="group" aria-label="First group">
  <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method=POST>
      <button class="btn btn-danger" type="submit">Delete </button>
    </form>
    </div>
<div class="btn-group mr-2" role="group" aria-label="Second group">
    <form action="/campgroundedit/<%=camp._id%>" method=GET>
          <button class="btn btn-dark" type="submit">Update </button>
      </form>
      </div>
<%    } %>
</div>

  </div>
</div>

<div class="container">
  <p><b>Comments : </b></p>
<% camp.comments.forEach(function(comment){ %>
  <div class="card bg-light mb-3" style="max-width: 48rem;">
    <div class="card-header"><%=comment.author%> says:</div>
    <div class="card-body">

      <p class="card-text"><%=comment.text%></p>
    </div>
  </div>

<% }) %>

</div>


</div>

</div>

</div>


<% include partials/footer %>
