
<% include partials/header %>
<h1>Camps List</h1>

<% blogs.forEach(function(blog) { %>
    <div>
        <h2> <%= blog.name %> </h2>
        <img src="<%= blog.image %> ">
        <p> <%= blog.desc.substring(0,100) %>... </p>
        <a href="/blogs/<%= blog._id %>"> Show more </a>
        <a href="/blogs/<%= blog._id %>/edit"> Edit  </a>
         <form action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
             <input type="submit">
         </form>
    </div>
<% }); %>


<% include partials/footer %>
